@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* multi useable components */
.container {
  max-width: 1320px;
  margin: 50px auto;
}
.location {
  color: #f00;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.btn-primary {
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  border: none;
  margin-top: 40px;
}
.image {
  margin: 6px;
}
.text-primary {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 900px;
  margin-bottom: 20px;
}
.h2-primary {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0;
}
.foter-text {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  width: 380px;
}
.h4-primary {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.h1-primary {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  width: 630px;
  margin: 0 auto;
  padding-top: 20px;
}
/* heading started */
.heading {
  background-image: linear-gradient(
      to bottom,
      #070211 0%,
      rgba(7, 2, 17, 0) 100%
    ),
    url("../resources/Banner Image.png");
  height: 600px;
  border-radius: 16px;
}
.heading h5 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 170px;
}
.h2-red {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-top: 100px;
}
/* heading section done */
/* category section started */
.category {
  max-width: 1600px;
  margin: 50px auto;
}
.category p {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
}
.category img {
  width: 800px;
  height: 500px;
  margin-left: 200px;
}
/* heading section totaly done now I am moving ahead to main section */
.party-section {
  background-image: linear-gradient(
      to right,
      #070211 0%,
      rgba(7, 2, 17, 0) 100%
    ),
    url("../resources/Vectorrr.png");
  height: 600px;
  border-radius: 15px;
  display: flex;
  /* padding: 120px; */
}
.party-description {
  padding: 120px 0 0 120px;
}
.party-description h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.party-description p {
  color: rgba(255, 255, 255, 0.8);
  margin: 30px 0;
  width: 650px;
}
.party-description button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  border: none;
}
.party-img {
  padding: 60px 130px;
}
/* location section started */
.location-section {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 15px;
  height: 480px;
  text-align: center;
  padding-top: 100px;
}
.location-section h4 {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.join-now-btn {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
/* location sectio done and comming soon section is coming soon */
/* bonus section started */
.my-offers {
  display: flex;
  justify-content: space-between;
  margin: 200px auto;
}
.offer-section h2 {
  text-align: start;
}
.offer-section p {
  width: 400px;
}
.new-year-section p {
  width: 250px;
}
.image-section {
  background-color: red;
  display: flex;
  border-radius: 50%;
  height: 460px;
  width: 460px;
  align-items: center;
  justify-content: center;
}
.bg-white {
  background-color: white;
  height: 440px;
  width: 440px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-section,
.new-year-section {
  margin: 60px 0;
}
/* Holiday offer section started */
.function-section {
  margin: 100px auto;
  margin-bottom: 200px;
}
.function-section h4 {
  color: #070211;
  text-align: center;
}
.function-section h1 {
  color: #070211;
  width: 800px;
}
.function-section p {
  width: 1000px;
  margin: 30px auto;
}
.holiday-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../resources/Rectangle 2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}
.girl-image {
  position: relative;
  margin-left: -220px;
  margin-bottom: 200px;
  z-index: -1;
}
.discount-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discount-image {
  position: relative;
  margin-bottom: 150px;
  justify-content: start;
  display: flex;
}
/* my portfolio section started */
.portfolio-description h2 {
  text-align: start;
}
.portfolio-img {
  margin: 30px 0;
}
/* newsletter section started */
.newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 200px;
  display: flex;
  justify-content: center;
}
.newsletter img {
  margin-left: 350px;
  width: 150px;
}
.newsletter p {
  text-align: center;
  margin: 0 auto;
}
.reach-us {
  width: 648px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 50px;
}
.newsletter-input {
  background-color: #fff;
  border-radius: 50px 0 0 50px;
  height: 72px;
  border: none;
  padding: 25px;
  width: 500px;
}
.newsletter-btn {
  border-radius: 0 50px 50px 0;
  height: 72px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  background: #f00;
  border: none;
  width: 150px;
}
/* almost done only footer section and bonus tasks remaining */
footer {
  background: #070211;
  height: 600px;
  padding: 120px 140px;
  margin-top: 120px;
}
.footer-description {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
hr {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  height: 1px;
}
.vertual-address img{
  margin-right: 10px;
}
.social-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;
}
.copyright {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
