@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* multi useable components */
.container {
  max-width: 1320px;
  margin: 50px auto;
}
.location {
  color: #f00;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.btn-primary {
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  border: none;
  margin-top: 40px;
}
.image{
    margin: 6px;
}
/* heading started */
.heading {
  background-image: linear-gradient(
      to bottom,
      #070211 0%,
      rgba(7, 2, 17, 0) 100%
    ),
    url("../resources/Banner Image.png");
  height: 600px;
  border-radius: 16px;
}
.heading h5 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 170px;
}
.heading h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  width: 630px;
  margin: 0 auto;
  padding-top: 20px;
}
/* heading section done */
/* category section started */
.category {
  max-width: 1600px;
  margin: 50px auto;
}
.category h2 {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-top: 100px;
}
.category p {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
}
.category h3 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0;
}
.category img {
  width: 800px;
  height: 500px;
  margin-left: 200px;
}
/* heading section totaly done now I am moving ahead to main section */
.party-section {
  background-image: linear-gradient(
      to right,
      #070211 0%,
      rgba(7, 2, 17, 0) 100%
    ),
    url("../resources/Vectorrr.png");
  height: 600px;
  border-radius: 15px;
  display: flex;
  /* padding: 120px; */
}
.party-description {
  padding: 120px 0 0 120px;
}
.party-description h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.party-description p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0;
}
.party-description button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  border: none;
}
.party-img {
  padding: 60px 130px;
}
/* location section started */
.location-section {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 15px;
  height: 480px;
  text-align: center;
  padding-top: 100px;
}
/* location sectio done and comming soon section is coming soon */

/* my portfolio section started */
.portfolio-description H4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-description h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin: 20px 0;
}
.portfolio-description p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 900px;
  margin-bottom: 20px;
}
.portfolio-img{
    margin: 30px 0;
}